In [11]:
# Import dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np

In [12]:
patients_df = pd.read_csv('analysis_data/patients.csv', dtype={'FIPS Code':str})
patients_df.iloc[-1,0] = 'NA'
patients_df.set_index('FIPS Code', drop=True, inplace=True)
patients_df = patients_df.drop('2021-04', axis = 1)
patients_df

,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03
FIPS Code,,,,,,,,,,,,,,,
01001,0.0,0.0,14.0,38.0,148.0,326.0,485.0,386.0,331.0,391.0,733.0,1383.0,1536.0,578.0,210.0
01003,0.0,0.0,62.0,131.0,72.0,428.0,2073.0,1370.0,1340.0,937.0,2060.0,3994.0,4489.0,1516.0,417.0
01005,0.0,0.0,0.0,40.0,91.0,146.0,228.0,144.0,147.0,155.0,117.0,258.0,418.0,159.0,68.0
01007,0.0,0.0,0.0,35.0,29.0,97.0,190.0,173.0,114.0,203.0,340.0,563.0,473.0,123.0,53.0
01009,0.0,0.0,13.0,32.0,15.0,144.0,555.0,538.0,297.0,510.0,1083.0,1552.0,993.0,328.0,267.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56043,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NA,2088.0,1800.0,20080.0,47847.0,55253.0,63919.0,111954.0,84834.0,128778.0,178445.0,286222.0,347651.0,218961.0,153776.0,59089.0

In [13]:
icu_df = pd.read_csv('analysis_data/icu.csv',dtype={'FIPS Code':str})
icu_df.iloc[-1,0] = 'NA'
icu_df.set_index('FIPS Code', drop=True, inplace=True)
icu_df  = icu_df.drop('2021-04', axis = 1)

In [14]:
census_data = pd.read_csv('analysis_data/census_2019.csv',dtype={'FIPS Code':str})
census_data.set_index('FIPS Code', drop=True, inplace=True)
census_data

KeyError: "None of ['FIPS Code'] are in the columns"

In [15]:
death_df = pd.read_csv('analysis_data/death.csv',dtype={'FIPS Code':str})
death_df.iloc[-1,0] = 'NA'
death_df.set_index('FIPS Code', drop=True, inplace=True)
death_df  = death_df.drop('2021-04', axis = 1)

In [16]:
total_abs = pd.read_csv('analysis_data/total_abs.csv',dtype={'FIPS Code':str})
total_abs.iloc[-1,0] = 'NA'
total_abs.set_index('FIPS Code', drop=True, inplace=True)
total_abs

            Patients  Hospitalized     ICU    Death
FIPS Code
01001         6622.0         148.0     0.0      0.0
01003        19052.0         280.0     0.0    119.0
01005         2001.0          62.0     0.0      0.0
01007         2408.0          62.0     0.0      0.0
01009         6376.0          87.0     0.0     11.0
...              ...           ...     ...      ...
56039            0.0           0.0     0.0      0.0
56041            0.0           0.0     0.0      0.0
56043            0.0           0.0     0.0      0.0
56045            0.0           0.0     0.0      0.0
NA         1788654.0       59949.0  6205.0  19529.0

[3143 rows x 4 columns]

In [17]:
vaccination_df = pd.read_csv('analysis_data/vaccination_data.csv',dtype={'FIPS Code':str})
vaccination_df.set_index('FIPS Code', drop=True, inplace=True)
vaccination_df = vaccination_df[["Social Vulnerability Index (SVI)","SVI Category","Percent adults fully vaccinated against COVID-19"]]
vaccination_df

,Social Vulnerability Index (SVI),SVI Category,Percent adults fully vaccinated against COVID-19
FIPS Code,,,
1001,0.44,Moderate Concern,0.114
1003,0.22,Low Concern,0.176
1005,1.00,Very High Concern,0.128
1007,0.60,High Concern,0.115
1009,0.42,Moderate Concern,0.095
...,...,...,...
56037,0.37,Low Concern,0.228
56039,0.11,Very Low Concern,0.305
56041,0.45,Moderate Concern,0.206
56043,0.37,Low Concern,0.264
56045,0.35,Low Concern,0.216

In [18]:
tot_rel = pd.DataFrame((total_abs.iloc[0:-1,:]["Patients"]/census_data["POPESTIMATE2019"]), columns = ["Patients"])
tot_rel["Hospitalized"] = (total_abs.iloc[0:-1,:]["Hospitalized"]/census_data["POPESTIMATE2019"])
tot_rel["ICU"]= (total_abs.iloc[0:-1,:]["ICU"]/census_data["POPESTIMATE2019"])
tot_rel["Death"]= (total_abs.iloc[0:-1,:]["Death"]/census_data["POPESTIMATE2019"])
tot_rel

KeyError: 'POPESTIMATE2019'

In [19]:
total_abs

            Patients  Hospitalized     ICU    Death
FIPS Code
01001         6622.0         148.0     0.0      0.0
01003        19052.0         280.0     0.0    119.0
01005         2001.0          62.0     0.0      0.0
01007         2408.0          62.0     0.0      0.0
01009         6376.0          87.0     0.0     11.0
...              ...           ...     ...      ...
56039            0.0           0.0     0.0      0.0
56041            0.0           0.0     0.0      0.0
56043            0.0           0.0     0.0      0.0
56045            0.0           0.0     0.0      0.0
NA         1788654.0       59949.0  6205.0  19529.0

[3143 rows x 4 columns]

In [20]:
worst_fip_patient= abs_cases.sort_values(ascending=False)
worst_fip_patient

NameError: name 'abs_cases' is not defined

In [21]:
total_abs.loc["21003"]

Patients        3952.0
Hospitalized     194.0
ICU                0.0
Death              0.0
Name: 21003, dtype: float64

In [22]:
census_data.loc["21003"]

                                                                                                                        <<<<<<< HEAD
Kentucky Allen County 21315 10575 10740 5372 7718 4374 3851 0.0216 0.0 0.0062 0.0099 0.0 0.9502 0.7743 36.7521 -86.2018          NaN

In [23]:
vaccination_df.loc["21003"]

Social Vulnerability Index (SVI)                            0.68
SVI Category                                        High Concern
Percent adults fully vaccinated against COVID-19           0.188
Name: 21003, dtype: object

In [24]:
vaccination_df.mean()

Social Vulnerability Index (SVI)                    0.500000
Percent adults fully vaccinated against COVID-19    0.188573
dtype: float64

In [25]:
#See most affected FIPS and less affected FIPS ( by patient number)
worst_fip_patient= total_abs.sort_values(by='Patients', ascending=False)
worst_fip_patient.head()

            Patients  Hospitalized      ICU    Death
FIPS Code
NA         1788654.0       59949.0   6205.0  19529.0
06037      1124813.0       81869.0  15949.0  21291.0
04013       531243.0       46700.0      1.0   8435.0
17031       530918.0       31810.0   5525.0  11573.0
12086       398878.0        9375.0      1.0   6136.0

In [26]:
worst_ten_pat = worst_fip_patient.iloc[1:11, :]
worst_ten_pat

            Patients  Hospitalized      ICU    Death
FIPS Code
06037      1124813.0       81869.0  15949.0  21291.0
04013       531243.0       46700.0      1.0   8435.0
17031       530918.0       31810.0   5525.0  11573.0
12086       398878.0        9375.0      1.0   6136.0
06071       289868.0        9806.0   1386.0   3724.0
06065       285987.0        7458.0    824.0   3483.0
06073       274033.0       15143.0   1657.0   2833.0
36047       268440.0       33398.0   2396.0  10704.0
36081       266518.0       33505.0   2539.0   9928.0
06059       251902.0       10366.0   1875.0   4121.0

In [27]:
worst_ten_pat.to_csv('analysis_data/most_affected.csv')

In [29]:
best_fip_patient= total_abs.sort_values(by='Patients', ascending=True)
best_fip_patient.head(1650)

           Patients  Hospitalized  ICU  Death
FIPS Code
29177           0.0           0.0  0.0    0.0
29143           0.0           0.0  0.0    0.0
29141           0.0           0.0  0.0    0.0
29139           0.0           0.0  0.0    0.0
29137           0.0           0.0  0.0    0.0
...             ...           ...  ...    ...
20071           0.0           0.0  0.0    0.0
20181           0.0           0.0  0.0    0.0
20193           0.0           0.0  0.0    0.0
35006        1000.0           0.0  0.0    0.0
18175        1002.0          24.0  0.0    0.0

[1650 rows x 4 columns]

In [30]:
best_ten_pat = best_fip_patient.iloc[1:11, :]
best_ten_pat

           Patients  Hospitalized  ICU  Death
FIPS Code
29143           0.0           0.0  0.0    0.0
29141           0.0           0.0  0.0    0.0
29139           0.0           0.0  0.0    0.0
29137           0.0           0.0  0.0    0.0
29135           0.0           0.0  0.0    0.0
29133           0.0           0.0  0.0    0.0
29131           0.0           0.0  0.0    0.0
29129           0.0           0.0  0.0    0.0
29127           0.0           0.0  0.0    0.0
29125           0.0           0.0  0.0    0.0

In [31]:
best_ten_pat.to_csv('analysis_data/least_affected.csv')

In [32]:
#See most affected FIPS and less affected FIPS ( by death number)
worst_fip_death = total_abs.sort_values(by='Death', ascending=False)

In [ ]:
worst_ten_death = worst_fip_death.iloc[0:11, :]
worst_ten_death

## Vaccinated vs. Time

## Time Line for worst FIPS

## Sex, ethnic group and age of best against worst FIPS

## Scatter (patients and vaccinated)

## Bars for ethnic groups

## Heatmap

## Regressions for sex, age and ethnic group